<div class="container">
  <h1>{{category_name}}</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of productList">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/img/{{item.image}}">
        <mat-card-content>
          <p>
            {{item.description}}
           
          </p>
          <p>
            Rating {{item.rating}} ★
          </p>
          <p>
            <strong>₹{{item.price}}</strong>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="addToWishlist(item)">Add to Wish List</button>
          <button mat-button  (click)="addToCart(item) ">Add to Cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>
