<app-products></app-products>
<a routerLink="upload/products" >
    <button class="btn btn-primary" >Add Products</button>
</a>

<div class="container">
    <h2>Users</h2>
    <table class="table table-hover">
        <thead>

            <th scope="col" >User Id</th>
            <th  scope="col">Name</th>
            <th  scope="col">Username</th>
            <th  scope="col">Email</th>
            <th  scope="col">Role</th>
            <th  scope="col">Edit</th>
            <th  scope="col">Delete</th>
           

        </thead>
        <tbody>

            <tr *ngFor="let user of users">
                <td>{{user.userId}}</td>
                <td>{{user.name}}</td>

                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button id={{user.userId}} class='btn btn-primary' (click)="editUser($event)" >Edit</button>
                  </td>
                  <td>
                    <button id={{user.userId}} class="btn btn-danger material-icons"  (click)="deleteUser($event)" style="cursor:pointer;">Delete</button>
                  </td>

            </tr>

        </tbody>
    </table>
  
</div>
